.aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}

.aboutContainer p {
  margin: 0px auto;
  max-width: 800px;
  text-align: justify;
  font-size: 1.3rem;
}

.curriculum {
  margin-top: 16px !important;
}