.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh  - 156px);
}

p {
  display: flex;
  align-items: center;
  gap:4px;
  margin-bottom: 0;
}

