.nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 30px;
  transition:background 400ms;
  z-index: 998;
}

.navLightMode {
 background-color: var(--light-background);

}

.navDarkMode {
 background-color: var(--dark-background);

}

.navBtn, .navModesBtn {
  border: none;
  transition:background, color, 400ms;
}

.navBtnLightMode {
  background-color: var(--light-background);
  color: var(--dark-text);
}

.navBtnLightMode:hover {
  background-color: var(--light-background-hover) !important;
  color: var(--dark-text) !important;
}

.navBtnDarkMode {
  background-color: var(--dark-background);
   color: var(--light-text);
}

.navBtnDarkMode:hover {
  background-color: var(--dark-background-hover) !important;
  color: var(--light-text) !important;
}