.darkMode {
  background-color: black;
  color: white;
  transition: 200ms;
}

.whiteMode {
  background-color: white;
  color: black;
  transition: 200ms;
}

.space {
  height: 0.01rem;
  width: 99vw;
  background-color: black;
  margin-top:200px;
}

.container {
  padding-bottom: 700px;
}

.nav {
  position: sticky;
  top:0;
}

.selected {
  background-color: red;
}

.visible {
  background-color: yellow;
}