.App {
  transition: 400ms;
}

.App.DarkMode {
  background-color: var(--dark-background);
}

.App.LightMode {
  background-color: var(--light-background);
}

.container {
  transition: 400ms;
  height: 500px;
  margin: 0;
  opacity: 0.2;
}

.containerDarkMode {
  background-color: var(--dark-background);
  color: var(--light-text);
 
}

.containerLightMode {
  background-color: var(--light-background);
  color: var(--dark-text);
}

.container.visible {
  opacity: 1;
}

.container.sectionHeader {
opacity: 1;
}



.nav {
  position: sticky;
  top:0;
}

.selected.navBtnLightMode {
  background-color: var(--dark-background) !important;
  color: var(--light-text) !important;
}

.selected.navBtnDarkMode {
  background-color: var(--light-background) !important;
  color: var(--dark-text) !important;
}



.btn {
  cursor: pointer;
}