.App {
  transition: 400ms;
}
.App.DarkMode {
  background-color: var(--dark-background);
}
.App.LightMode {
  background-color: var(--light-background);
}



.container {
  transition: 400ms;
  margin: 0;
  opacity: 0.1;
}
.containerDarkMode {
  background-color: var(--dark-background);
  color: var(--light-text);
 
}
.containerLightMode {
  background-color: var(--light-background);
  color: var(--dark-text);
}
.container.visible {
  opacity: 1;
}
.container.sectionHeader {
opacity: 1;
}



.nav {
  position: sticky;
  top:0;
  margin-top: -1px;
}
.selected.navBtnLightMode {
  background-color: var(--dark-background-hover) !important;
  color: var(--light-text) !important;
}
.selected.navBtnDarkMode {
  background-color: var(--light-background-hover) !important;
  color: var(--dark-text) !important;
}



.btn {
  cursor: pointer;
}
.ocultBtn {
  opacity: 0;
  visibility: hidden;
}
.topBtn {
  color: grey !important;
}
.footer {
text-align: end;
color:grey;
padding: 4px;
}


a {
  text-decoration: none;
  color: var(--intermediate-grey);
  transition: 400ms;
}

a:hover {
  color: rgb(160, 160, 160);
}
p, label {
  font-size: 1.15rem;
}



.section {
  padding: 10px;
  min-height: 80vh;
}
.containerDarkMode.section h2 {
  color: var(--light-background-hover) !important;
}
.containerDarkMode.section h2 {
  color: var(--light-background-hover) !important;
}
.section h3 {
  font-weight: 100;
  text-align: center;
}