

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  overflow-x: hidden;

  --light-background: rgb(250, 250, 250);
  --light-background-hover: rgb(225, 225, 225);
  --light-text: white;
  --dark-text: rgb(30, 30, 30) ;
  --dark-background: rgb(35, 35, 35);
  --dark-background-hover: rgb(50, 50, 50);
  --intermediate-grey: grey;
}

.btn, .footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: lighter;
}

h2 {
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
}

p {
  text-align: center !important;
}

p , a, label {
  font-size: 1.15rem;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
  .contactForm textarea {
    height: 38vh !important;
  }
  .contactContainer {
    min-height: calc(100vh  - 160px) !important;
  }
  .sectionHeader {
    height: 100vh !important;
  }

  .footer {
    margin-bottom:44px;
  }

  .navModes {
    position: fixed !important;
    top: calc(100% - 36px) !important;
  }
	.nav {
		justify-content: start !important;
		position: fixed !important;
		top: calc(100% - 43px) !important;
    height: 44px !important;
    padding-left: 6px;
	}
  .navBtn {
    padding-left: 0.65vw;
    padding-right: 0.65vw;
  }
/* 
	.btn {
		font-size: 0.9rem;
    padding-left: 3px;
		padding-right: 3px;
	}
	.navModesBtn {
		font-size: 1.15rem;
	}*/
  .topBtn {
    font-size:0.85rem !important;
  } 
	.background {
		background-size: 250% !important;
	}

  p {
    font-size: 1.30rem !important;
  }
  
}

@media only screen and (max-width: 440px) {
  .navBtn {
    font-size: 3.4vw !important;
   
  }
  .navModesBtn {
    font-size: 4.2vw !important;
    padding-left: 0.65vw;
    padding-right: 0.65vw;
  }
  .topBtn {
    font-size:0.85rem !important;
  } 
}

@media only screen and (max-width: 370px) {

	/* .btn {
		font-size: 0.8rem;
    padding-left: 2.5px;
		padding-right: 2.5px;
	} */
  
	.headerSubtitle {
		text-align: center !important;
	}
 /*  .navModesBtn {
		font-size: 1.15rem;
	}
  .topBtn {
    font-size:0.7rem !important;
  } */
}